h2 {
    text-align: center;
    font-size: $font-size-large;
}

.h2-servicio {
    text-align: center;
    font-size: $font-size-medium;
}

.titulo {
    grid-area: titulo;
}

.texto-index {
    grid-area: parrafo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
